* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #444;
    background-color: #f7f7f7;
    height: 100vh;
    padding: 2rem;
}

@mixin layoutBasic {
    max-width: 82rem;
    background-color: #f0eeee;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

@mixin box {
    height: 10rem;
    background-color: #A2CBFA;
    border: 1px solid #4390E1;
    border-radius: 3px;
}

.stretch__all {
    @include layoutBasic;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
        gap: 2%;

        & .item {
            flex-grow: 1;
            height: 10rem;
            background-color: #A2CBFA;
            border: 1px solid #4390E1;
            border-radius: 3px;
        }
    }
}

.stretch__middle {
    @include layoutBasic;


    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
        gap: 2%;

        & .item__left, & .item__right {
            flex-grow: 1;
            @include box;

        }

        & .item__middle {
            flex-grow: 3;
            @include box;
        }
    }
}

.alternating__grid {
    @include layoutBasic;


    & .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2rem;
        gap: 2rem;

        & .item__top__left, & .item__top__right {
            flex-grow: 1;
            @include box;
        }

        & .item__middle {
            width: 100%;
            @include box;
        }

        & .item__bottom__left, & .item__bottom__right {
            flex-grow: 1;
            @include box;
        }
    }
}

.third_X_third__grid {
    @include layoutBasic;


    & .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem;
        
        & .item {
            flex: 0 32%;
            @include box;
            margin-bottom: 2%;
        }
        
    }
}

.third_X_third__grid_full {
    @include layoutBasic;


    & .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem;
        
        & .item {
            flex: 0 32%;
            padding-bottom: 32%;
            @include box;
            margin-bottom: 2%;
            position: relative;
        }
        
    }
}